.PBanner{
  color: rgb(255, 255, 255);
  font: 5em sans-serif;
  margin-right: 10em;
}

.PBanner2{
  color: rgb(255, 255, 255);
  font: 5em sans-serif;
  margin-right: 8.5em;
  font-family: Circular Pro Medium,sans-serif;
}


